/* Variables */
:root {
  --primary-color: #121111;
  --secondary-color: #3f3f3f;
  --hover-color: #585858;
  --text-color: #333333;
  --shaded-text-color: #808080;
}

* {
  margin: 0;
  padding: 0;
}

body {
  color: var(--text-color);
  font-family: "Lato", sans-serif;
}

h1,
h2,
h3 {
  color: var(--primary-green);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

input:focus,
textarea:focus {
  outline: none;
  box-shadow: 0 0 5px rgb(14, 13, 13);
}

.shaded-text {
  color: var(--shaded-text-color);
}

main {
  display: flex;
}

/* Button Styles */
button {
  background-color: var(--primary-green);
  color: white;
  /* Other button styles*/
}

button:hover {
  background-color: var(--hover-color);
  transition: all ease-in-out 0.3s;
}
